.site {
-moz-transition: -moz-transform 250ms cubic-bezier(0.694, 0.0482, 0.335, 1);
-o-transition: -o-transform 250ms cubic-bezier(0.694, 0.0482, 0.335, 1);
-webkit-transition: -webkit-transform 250ms cubic-bezier(0.694, 0.0482, 0.335, 1);
transition: transform 250ms cubic-bezier(0.694, 0.0482, 0.335, 1);
}

/*---------------------------------------------------------
 Navigation (_scaffolding.scss)
-------------------------------------------------------- */
.navigation {
  list-style: none;
}

.main-navigation li {
  margin-bottom: 15px;
  margin-bottom: 0.9375rem;
}
.main-navigation li:last-child {
  margin-bottom: 0;
}

.site-nav {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  outline: 0;
  background-color: #f9f9f9;
  max-width: 320px;
  -webkit-overflow-scrolling: touch;
}
.site-nav--scrollable-container {
  display: none;
  overflow: auto;
  padding: 30px;
  padding: 1.875rem;
  width: 320px;
  -webkit-overflow-scrolling: touch;
  height: 100%;
  position: relative;
}
.site-nav-transition .site-nav--scrollable-container {
  display: block;
}
.widget_nav_menu .menu li {font-size: 16px; line-height: 20px; margin-bottom: 10px;}
.site-nav__section {
  border-bottom: 2px solid #333;
  position: relative;
  padding: 40px 0;
  padding:  2.5rem 0;
}
.site-nav__section:last-of-type {
  border: none;
  padding-bottom: 0;
}
.site-nav a {
  color: #333;
}
.site-nav a:hover {
  color: #000;
}
.site-nav .widgettitle {
  font-size: 18px;
  margin-bottom: 20px;
}
.site-nav .close-nav {
  position: absolute;
  top: 22px;
  right: 30px;
  font-size: 30px;
  cursor: pointer;
  z-index: 50;
}
.site-nav .sub-menu {
  margin-top: 10px;
  margin-left: 20px;
}

.site-nav-overlay {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 600;
  cursor: e-resize;
}

.site-nav-drawer-open .site-nav-overlay,
.site-nav:focus ~ .site-nav-overlay {
  display: block;
  right: 320px;
  z-index: 900;
}

.site-nav-transition #page {
  left: 0;
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 100%;
  z-index: 800;
}
.site-nav-drawer-open #page {
  -moz-transform: translate(-320px, 0, 0);
  -ms-transform: translate(-320px, 0, 0);
  -webkit-transform: translate(-320px, 0, 0);
  transform: translate(-320px, 0, 0);
  -moz-transform: translate3d(-320px, 0, 0);
  -ms-transform: translate3d(-320px, 0, 0);
  -webkit-transform: translate3d(-320px, 0, 0);
  transform: translate3d(-320px, 0, 0);
}
.widget_search .search-icon{font-size: 30px;}
.widget_language .dropdown .btn{}
.widget_language .dropdown .dropdown-menu{min-width: 30px;}